/* The CSS in this file will cover the CSS for the home page */

.section_one {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url('../images/mountain.jpg');
  height: 600px;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section_two {
  height: 500px;
}

.topic_selection_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

select {
  width: 20% !important;
}
